@import "tailwindcss";

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url('/public/backgroundTheme.svg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  height: 100vh; 
}


@layer components {
  .header{
    @apply flex flex-col justify-center items-center mx-auto my-10
  }
  .search{
    @apply flex justify-center items-center flex-row-reverse bg-blue-950 p-4 gap-3 rounded-4xl
  }
}


@layer base{
  h1{
  @apply font-extrabold text-4xl text-pink-300
  }
  input{
  @apply border-none focus:outline-none w-3xl text-amber-100
}
span{
  @apply bg-gradient-to-r from-purple-500 via-blue-500 to-cyan-400 bg-clip-text text-transparent font-bold
}
}
